#chip {
  margin-block: 1rem;
  min-width: 90px;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  border-radius: 1000px;
  color: dodgerblue;
  font-size: 1.25rem;
  text-align: center;
  align-content: center;

  &.is--active {
    background: dodgerblue;
    color: white;
  }
}
