#switch {
  display: none;

  &:checked + label::before {
    left: 31px;
    background: #fff;
  }

  &:checked + label::after {
    content: "ON";
  }

  &:checked + label {
    background: dodgerblue;
    transition: all 0.3s;

    &:hover {
      background: rgb(20, 113, 206);
    }
  }
}

label {
  cursor: pointer;
  display: block;
  height: 30px;
  width: 60px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1000px;
  position: relative;
  transition: all 0.3s;

  &:hover {
    background: #ddd;
  }

  &::before {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    left: 3px;
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background-color: rgb(174, 194, 215);
    border-radius: 50%;
    transition: 0.3s;
  }

  &::after {
    position: absolute;
    content: "OFF";
    font-weight: 700;
    top: 50%;
    translate: 0 -50%;
    right: -34px;
  }
}
