@import "tailwindcss";

@theme {
  --color-mint-500: hsl(176, 56%, 34%);

  /* 버튼 배경 색상 */
  --color-gray-100: #eeeeee;
  /* 버튼 테두리 색상 */
  --color-gray-300: #b3b3b3;
  /* 텍스트 및 로고 색상 */
  --color-gray-700: #4d4d4d;
}

@layer base {
  html {
    @apply text-[12px];
  }
}
