@layer component {
  .btn {
    cursor: pointer;
    width: 100%;
    background-color: #3578ff;
    color: #fff;
    border: none;
    border-radius: 999px;
    padding-block: 0.75rem;
    min-width: 280px;
    font-weight: 600;
  }
}
